<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Select</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='team_select.css') }}">
</head>
<body>
    <div class="team-select-container">
        <h2>Select Your Team</h2>
        <div class="button-container">
            <form method="POST" action="{{ url_for('views.team_select') }}">
                <input type="text" name="room_code" placeholder="Enter team code" required>
                <button type="submit">Join Team</button>
            </form>
            <button onclick="window.location.href='{{ url_for('views.team_create') }}'">Create Team</button>
        </div>

        <ul>
            {% for team in team_list %}
            <li>
                <a href="{{ url_for('views.workspace', team_id=team.team_id) }}">
                        {{ team.team_name }} {{ team.team_code }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
