<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspace</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='workspace.css') }}">
    <!-- Emoji Mart Stylesheet -->
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
</head>
<body>
    <div class="container">
        <!-- Voice Chat Section -->
        <div class="section voice-chat">
            <h2>Voice Chat</h2>
            <p>Voice chat area...</p>
        </div>
    
        <!-- Chat Section -->
        <div class="section chat">
            <h2>Chat</h2>
            <div id="chat-messages" class="chat-messages">
                {% for message in messages %}
                <div class="message" data-message-id="{{ message.id }}">
                    <div class="message-info">
                        <span class="message-user">{{ message.user_team.user.username }}</span>
                        <span class="message-timestamp">{{ message.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                    </div>
                    <div class="message-content">
                        <p class="translatable" data-text="{{ message.content }}">{{ message.content }}</p>
                        <div id="translation-box"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Chat Reply Form -->
            <div class="chat-reply">
                <button id="emoji-button">😀</button> 
                <div id="emoji-container" class="emoji-container"></div> <!-- Container chứa emoji picker -->
                <form id="messageForm">
                    <textarea id="messageInput" name="message_content" placeholder="Type your message" required></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    
        <!-- Script Section -->
        <div class="section script">
            <h2>Script</h2>
            <p>Script area...</p>
        </div>
    </div>

    <script>
        const teamId = "{{ team_id }}";
        window.onload = function() {
            const chatMessages = document.getElementById('chat-messages');
            chatMessages.scrollTop = chatMessages.scrollHeight; 
        };
    </script>
    <script src="{{ url_for('static', filename='workspace.js') }}"></script>
</body>
</html>
