body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: #f0f0f0;  This background-color was changed to line9*/
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  flex-direction: column;
}

.team-select-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 320px;
}

.team-select-container input[type="text"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.team-select-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px; /* Thêm khoảng cách dưới danh sách */
}

.team-select-container li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
}

.team-select-container li:last-child {
  border-bottom: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Khoảng cách giữa các nút */
  margin-top: 10px;
}

.button-container button {
  padding: 12px 20px;
  border: none;
  background-color: #1fa77a;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #137037;
}

.button-container form {
  width: 100%;
}
